<div class="addusers" >
    <form  (ngSubmit)="AddUsers(UserData)"    #UserData="ngForm">
  <input name="name" placeholder="name"ngModel required #name="ngModel">
  <input name="surname"placeholder="surname" ngModel required #surname="ngModel">
  <textarea  name="address" placeholder="student address" ngModel required #address="ngModel" rows="4" cols="50"></textarea>
  <input name="contact"placeholder="contact number" type="tel" maxlength="10"ngModel required #contact="ngModel">
  <input name="course"placeholder="student registerd course" ngModel required #course="ngModel">
  <button type="submit" [disabled]="UserData.invalid">Add user </button>
  {{msg}}
  
  
  
  </form>    
  <div class="users" *ngIf="persons?.length > 0;else noItems" >
  <h4>List of persons</h4>
  <ul>
   <li *ngFor="let item of persons"  >
  <p class="name">{{item.payload.doc.data().name}}&nbsp;&nbsp; {{item.payload.doc.data().surname}}</p>
 
    </li>
    
  </ul>
  <!--<ul>_fire.collection('database name").doc(id/ref).
    (click)="deleteUser(item.payload.doc.id)"
    <li  *ngFor="let item of persons">
  {{item.name}}
      </li>
  </ul>-->
</div>

<ng-template #noItems>
  <hr>
  <h5>There are no users to list</h5>
</ng-template>