form{
    width:40%;
    padding: 2%;
    background-color: gainsboro;
    position: relative;
    right: -300px;
    border:1px whitesmoke;
}
form input{
    width:100%;
    padding:2%;
    border:1px black solid;
    margin-top: 5px;
}
form button{
    width: 100%;
    background-color: blue;
    color:white;
    border:none;
    padding:2%;
    margin-top:10px;
}
.users{
    width: 18.5%;
    background-color: gainsboro;
    padding: 2%;
    position: relative;
    top:-362px;
}
li{
   
    display: inline;
    
}
p{
    
    border:1px black solid;
}
